<nav>
    <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="material-icons">home</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Articles", articles_path, class: "dropdown-item" %></li>
      </ul>
    </div>
</nav>